In [1]:
data = {'kim99': 12000, 'lee66':11000, 'han55':3000, 'hong77':5000, 'hwang33':18000}

number = 1
for key in data :
    print('%d. 아이디 : %s, 마일리지: %d점' % (number, key, data[key]))
    number += 1

1. 아이디 : kim99, 마일리지: 12000점
2. 아이디 : lee66, 마일리지: 11000점
3. 아이디 : han55, 마일리지: 3000점
4. 아이디 : hong77, 마일리지: 5000점
5. 아이디 : hwang33, 마일리지: 18000점

In [2]:
data = {'kim99': 12000, 'lee66':11000, 'han55':3000, 'hong77':5000, 'hwang33':800}

data['han55'] = 5000

for key in data :
    if key == 'han55' :
        print('%s님의 마일리지가 %d점으로 수정 되었습니다.' % (key, data[key]))

han55님의 마일리지가 5000점으로 수정 되었습니다.

In [3]:
data = {'kim99': 12000, 'lee66':11000, 'han55':3000, 'hong77':5000, 'hwang33':18000}

data['jang88'] = 7000

print('전체 딕셔너리 : %s' % data)
for key in data :
    if key == 'jang88' :
        print('%s님의 마일리지(%d점)가 추가 되었습니다.' % (key, data[key]))

전체 딕셔너리 : {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000, 'jang88': 7000}
jang88님의 마일리지(7000점)가 추가 되었습니다.

In [5]:
data = {'kim99': 12000, 'lee66':11000, 'han55':3000, 'hong77':5000, 'hwang33':18000}

largest_id = 'kim99'
largest_point = data['kim99']

for key in data :
    if data[key] > largest_point :
        largest_id = key
        largest_point = data[key]
        
print('%s님의 %d점이 가장 높은 점수입니다.' % (largest_id, largest_point))

hwang33님의 18000점이 가장 높은 점수입니다.

In [8]:
temp = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}

print('-'*50)
print('   월    화    수    목    금    토    일')
print('-'*50)
for key in temp :
    print('%6.1f' % temp[key], end='')

print()
print('-'*50)

--------------------------------------------------
   월    화    수    목    금    토    일
--------------------------------------------------
  25.5  28.3  33.2  32.1  17.3  35.3  33.3
--------------------------------------------------

In [12]:
temp = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}

days = []
for key in temp :
    if temp[key] >= 30 :
        days.append(key)
    
print('기온이 30˚ 이상인 요일 : ', end='')    
for i in range(len(days)) :
    print('%s' % days[i], end='')
    
    if i != len(days)-1 :
        print(', ', end='')

기온이 30˚ 이상인 요일 : 수, 목, 토, 일

In [13]:
temp = {'월':25.5, '화':28.3, '수':33.2, '목':32.1, '금':17.3, '토':35.3, '일':33.3}

sum = 0
for key in temp :
    sum += temp[key]
        
avg = sum/len(temp)
    
print('일주일간 최고 기온의 평균 : %.1f˚' % avg)

일주일간 최고 기온의 평균 : 29.3˚