# 튜플

In [3]:
a = 1, 2, 3, 4

In [4]:
type(a)

tuple

In [5]:
t = ()
t

()

In [6]:
type(t)

tuple

In [7]:
t = tuple()
t

()

In [9]:
t = (1, 2, 3, '1', '하나', [1, 2, 3])
t

(1, 2, 3, '1', '하나', [1, 2, 3])

In [10]:
len(t)

6

In [11]:
t = (1, 2, 3, -10, 100)
max(t), sum(t), min(t)

(100, 96, -10)

In [12]:
sum(t)/len(t)

19.2

In [13]:
t * 2

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

In [14]:
t + t

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

## 인덱싱

In [15]:
t[1]

2

In [16]:
t[:4]

(1, 2, 3, -10)

In [17]:
t[-4:-2]

(2, 3)

### 튜플 매소드

In [18]:
t.count(3)

1

In [19]:
t.index(-10)

3

In [20]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [28]:
t = (1, 2, 3, 4)
li = list(t)
li

[1, 2, 3, 4]

In [29]:
li.append(-1)
li.append(0)
li.append(30)
li

[1, 2, 3, 4, -1, 0, 30]

In [30]:
t = tuple(li)
t

(1, 2, 3, 4, -1, 0, 30)

In [31]:
sorted(t)

[-1, 0, 1, 2, 3, 4, 30]

In [32]:
tuple(t)

(1, 2, 3, 4, -1, 0, 30)

### 문)튜플을 이용해 구구단 출력

In [34]:
dans = (2, 3, 4, 5, 6, 7, 8, 9)

print('구구단표')
print('-'*30)

for dan in dans:
    for i in range(1, 10):
        print('%d x %d = %d' %(dan, i, dan*i))
    print('-'*30)

구구단표
------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------------------------------

### 문)튜플로 제공되는 관리자 정보와 일치하는지 작성

In [38]:
admin_info = ('admin', '12345','rubato@navr.com')

id = input('관리자 아이디를 입력하시오')
password = input('비밀번호를 입력하시오')

if id == admin_info[0] and password == admin_info[1]:
    print('관리자 로그인')
else:
    print('아이디 또는 비밀번호가 잘못 입력되었습니다')

관리자 아이디를 입력하시오
비밀번호를 입력하시오

아이디 또는 비밀번호가 잘못 입력되었습니다

# 딕셔너리

In [39]:
scores = {}

In [41]:
scores = dict

In [42]:
type(scores)

type

In [43]:
scores = {'kor': 85, 'eng': 100, 'math': 90}
scores

{'kor': 85, 'eng': 100, 'math': 90}

In [44]:
len(scores)

3

In [45]:
max(scores)

'math'

In [46]:
scores['kor']

85

In [47]:
scores[0] #인덱스 불가

KeyError: 0

In [51]:
scores['kor'] = 0
scores

{'kor': 0, 'eng': 100, 'math': 90}

In [52]:
scores['test'] = 100
scores

{'kor': 0, 'eng': 100, 'math': 90, 'test': 100}

In [53]:
# delete: 불가
scores['test'] = {}  #불가
scores

{'kor': 0, 'eng': 100, 'math': 90, 'test': {}}

In [54]:
del scores['test']
scores

{'kor': 0, 'eng': 100, 'math': 90}

In [55]:
for i in scores:
    print(i)

kor
eng
math

In [56]:
scores['kor']

0

#### `enumerate()` & `items()`

In [58]:
scores = {'kor': 85, 'eng': 100, 'math': 90}
for i, key in enumerate(scores):
    print(i, key, scores.get(key))

0 kor 85
1 eng 100
2 math 90

In [59]:
scores['kor']  #scores.get('kor')

85

In [60]:
for k, v in scores.items():
    print(k, v)

kor 85
eng 100
math 90

In [62]:
li = ['1', 'abc', 30, 40, 50]
for i, k in enumerate(li):
    print(i, k)

0 1
1 abc
2 30
3 40
4 50

In [65]:
scores = {'김예진': 90, '박영진': 95,'김소희': 84}

sum = 0
for key in scores:
    sum += scores[key]
    print('%s : %d' %(key, scores[key]))
avg = sum/len(scores)

print('합계: %d, 평균: %.2f' %(sum, avg))

김예진 : 90
박영진 : 95
김소희 : 84
합계: 269, 평균: 89.67

### Keys, Values

In [66]:
scores = {'kor': 85, 'eng': 100, 'math': 90}
scores.keys()

dict_keys(['kor', 'eng', 'math'])

In [67]:
scores.values()

dict_values([85, 100, 90])

In [68]:
scores.items()

dict_items([('kor', 85), ('eng', 100), ('math', 90)])

In [71]:
for k, v in scores.items():
    print(k, v)

kor 85
eng 100
math 90

### 체크

In [72]:
'kor' in scores

True

In [73]:
type(scores.get('k'))

NoneType

In [74]:
if scores.get('k') == None:
    print('OK')

OK

In [75]:
help(scores)

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [83]:
data = {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000}

for k, v in data.items():
    print('아이디: %s, 마일리지: %d' %(k, v))

아이디: kim99, 마일리지: 12000
아이디: lee66, 마일리지: 11000
아이디: han55, 마일리지: 3000
아이디: hong77, 마일리지: 5000
아이디: hwang33, 마일리지: 18000

In [84]:
data = {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000}
number = 1
for key in data:
    print('%d. 아이디: %s, 마일리지: %d' %(number, key, data[key]))
    number += 1

1. 아이디: kim99, 마일리지: 12000
2. 아이디: lee66, 마일리지: 11000
3. 아이디: han55, 마일리지: 3000
4. 아이디: hong77, 마일리지: 5000
5. 아이디: hwang33, 마일리지: 18000

In [ ]:
data = {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000}

largest_id = 'kim99'
largest_point = data['kim99']

for key in data:
    if data[key] > largest_point:
        largest_id = key
        largest_point = data[key]