# 반복문

반복문: **특정 코드를 반복** 실행
- For문
- While문

```
for <> in []:
    # to do
```

In [2]:
range(5)   # 내장함수, 시작-종료 범위 숫자를 발생

range(0, 5)

In [3]:
r = range(5)
r

range(0, 5)

In [4]:
print(r)

range(0, 5)

In [5]:
type(r)

range

In [6]:
len(r)

5

In [7]:
len('안녕하세요')

5

In [8]:
for x in range(5):
    print(x)

0
1
2
3
4

In [9]:
'*'* 5

'*****'

In [10]:
# 반복!!!
for x in range(10, 100, 4):
    print(x * '*')

**********
**************
******************
**********************
**************************
******************************
**********************************
**************************************
******************************************
**********************************************
**************************************************
******************************************************
**********************************************************
**************************************************************
******************************************************************
**********************************************************************
**************************************************************************
******************************************************************************
**********************************************************************************
**************************************************************************************
******************************************************************************************
**********************************************************************************************
**************************************************************************************************

In [11]:
# 반복!!!
for x in range(1, 20):
    if x % 2 == 0:  #짝수
        print(x * '*')
    else:
        print(x * '+')

+
**
+++
****
+++++
******
+++++++
********
+++++++++
**********
+++++++++++
************
+++++++++++++
**************
+++++++++++++++
****************
+++++++++++++++++
******************
+++++++++++++++++++

In [ ]:
if 1 < 10:
    pass
elif 2 > 10:
    pass

In [ ]:
if 1 < 10:
    pass

if 2 > 10:
    pass

In [20]:
for x in range(5):
    print('A')

A
A
A
A
A

In [22]:
x = 0
while x < 5:
    print('A')
    x += 1

A
A
A
A
A

In [ ]:
x = 0
while True:
    print('A')
    x += 1  # Kernel에서 Interrupt를 통해 break 가능

In [25]:
x = 0
while True:
    print('A')
    x += 1
    # 종료 조건
    if x == 30:
        break

A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A

#### 등급 판정

In [30]:
while True:
    score = int(input('점수를 입력하시오 : '))
    
    if score >= 90:
        grade = 'A'
    elif score >= 80:
        grade = 'B'
    elif score >= 70:
        grade = 'C'
    elif score >= 60:
        grade = 'D'
    elif score == -1:
        break
    else :
        grade = 'F'
        
    print('성적 : %d' % score)
    print('등급 : %s' % grade)

점수를 입력하시오 : -1

For와 break

In [29]:
# 반복!!!
for x in range(1, 20):
    if x % 2 == 0:  #짝수
        print(x * '*')
    elif x % 5 == 0:
        break

**
****

In [31]:
a = '사과'
print(f'안녕 나는 {a}야')

안녕 나는 사과야

3의 배수

In [33]:
sum = 0
for i in range(1, 101):
    if i % 3 == 0:
        print('%d' % i, end=' ')
        sum += i
        
print('\n','-' * 50)
print('1~100에서 3의 배수의 합계: %d' % sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서 3의 배수의 합계: 1683

In [12]:
while True:
    stop = int(input('끝 숫자를 입력: '))
    if stop == -1:
        print('Quit....'); break
    sum = 0
    for i in range(1, stop):
        if i % 3 == 0:
            print('%d' % i, end=' ')
            sum += i
    print('\n','-' * 50)
    print('1~100에서 3의 배수의 합계: %d' % sum)

끝 숫자를 입력: 100
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서 3의 배수의 합계: 1683
끝 숫자를 입력: 200
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198
 --------------------------------------------------
1~100에서 3의 배수의 합계: 6633
끝 숫자를 입력: 300
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198 201 204 207 210 213 216 219 222 225 228 231 234 237 240 243 246 249 252 255 258 261 264 267 270 273 276 279 282 285 288 291 294 297
 --------------------------------------------------
1~100에서 3의 배수의 합계: 14850
끝 숫자를 입력: -1
Quit....

In [16]:
while True:
    money = int(input( '$를 입력하세요: '))
    if money == -1:
        print('프로그램 종료')
        break
    print('-'* 20)
    print('달러($)  원화(\)')
    print('-'* 20)
    print('  %d       %d' % (money, money * 1100))
    print('-'*20)

$를 입력하세요: 10
--------------------
달러($)  원화(\)
--------------------
  10       11000
--------------------
$를 입력하세요: 20
--------------------
달러($)  원화(\)
--------------------
  20       22000
--------------------
$를 입력하세요: 3
--------------------
달러($)  원화(\)
--------------------
  3       3300
--------------------
$를 입력하세요: -1
프로그램 종료

### 문자열

In [17]:
len('안녕하세요')

5

In [19]:
msg = '안녕하세요'
msg[:2]

'안녕'

for s in range(), '문자열'... #iterable object

In [20]:
for s in msg:
    print(s)

안
녕
하
세
요

for 반복문으로 단위환산표

In [33]:
print('-' * 30)
print('    섭씨    화씨')
print('-' * 30)
for c in range(-20, 31, 5):
    f = c * 9.0/ 5.0 + 32.0
    print('%7d  %6.1f'%(c,f))
print('-' * 30)

------------------------------
    섭씨    화씨
------------------------------
    -20    -4.0
    -15     5.0
    -10    14.0
     -5    23.0
      0    32.0
      5    41.0
     10    50.0
     15    59.0
     20    68.0
     25    77.0
     30    86.0
------------------------------

In [48]:
n1 = int(input('처음 수를 입력하시오: '))
n2 = int(input('마지막 수를 입력하시오: '))

for i in range(n1, n2+1):
    if i % 5 != 0:
         sum += i
print('5의 배수가 아닌 수의 합: ', sum)

처음 수를 입력하시오: 100
마지막 수를 입력하시오: 200
5의 배수가 아닌 수의 합:  62850

SyntaxError: 'break' outside loop (<ipython-input-48-d527e0d67101>, line 8)

In [49]:
n1 = int(input('처음 수를 입력하시오: '))
n2 = int(input('마지막 수를 입력하시오: '))

for i in range(n1, n2+1):
    if i % 5 != 0:
         sum += i
print('5의 배수가 아닌 수의 합: ', sum)

처음 수를 입력하시오: 100
마지막 수를 입력하시오: 200
5의 배수가 아닌 수의 합:  74850

In [58]:
num = input('(-)을 포함한 전화번호 입력')

for x in num:
    if x != '-':
        print('%s' % x, end="")

(-)을 포함한 전화번호 입력123-132-132
123132132

In [59]:
num = input('(-)을 포함한 전화번호 입력')
if not num:
    print('전화번호를 입력해야 한다')
else:
    print(num.split('-'))
    print("", join(num.split('-')))

(-)을 포함한 전화번호 입력123-123-123
['123', '123', '123']

NameError: name 'join' is not defined

In [62]:
phone = input('(-)을 뺀 11자리 전화번호 입력')

phone[:3]+'-'+ phone[3:7]+ '-'+ phone[7:len(phone)]

(-)을 뺀 11자리 전화번호 입력01031824758

'010-3182-4758'

#### 인덱스를 사용해 위 전화번호를 역으로 출력

In [69]:
phone = input('(-)을 뺀 11자리 전화번호 입력')

for n in phone:
    print(phone[11-(n+=n)])

SyntaxError: invalid syntax (<ipython-input-69-873cc1cbdc70>, line 4)

In [75]:
print('-'* 50)

for a in range(2, 20):
    for b in range(1, 20):
        c = a * b
        print('%d x %d = %d' %(a, b, c))
    print('-' * 50)

--------------------------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
--------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
--------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
--------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
--------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
--------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
--------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
--------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
--------------------------------------------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
--------------------------------------------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209
--------------------------------------------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228
--------------------------------------------------
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247
--------------------------------------------------
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210
14 x 16 = 224
14 x 17 = 238
14 x 18 = 252
14 x 19 = 266
--------------------------------------------------
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285
--------------------------------------------------
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
16 x 11 = 176
16 x 12 = 192
16 x 13 = 208
16 x 14 = 224
16 x 15 = 240
16 x 16 = 256
16 x 17 = 272
16 x 18 = 288
16 x 19 = 304
--------------------------------------------------
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
17 x 11 = 187
17 x 12 = 204
17 x 13 = 221
17 x 14 = 238
17 x 15 = 255
17 x 16 = 272
17 x 17 = 289
17 x 18 = 306
17 x 19 = 323
--------------------------------------------------
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
18 x 11 = 198
18 x 12 = 216
18 x 13 = 234
18 x 14 = 252
18 x 15 = 270
18 x 16 = 288
18 x 17 = 306
18 x 18 = 324
18 x 19 = 342
--------------------------------------------------
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361
--------------------------------------------------

In [82]:
number = int(input('원하는 구구단을 입력하시오: '))
print('-'* 50)


for b in range(1, 10):
    c = number * b
    print('%d x %d = %d' %(number, b, c))
print('-' * 50)

원하는 구구단을 입력하시오: 3
--------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------------------------------------

In [92]:
for data in range(1, 11):
    for i in range(1, data+1):
        print('*', end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [105]:
for i in range(1, 11):
    for j in range(1, 10-i+1):
        print(' ', end="")
    for k in range(1, i+1):
        print('*', end="")
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [107]:
print('-'*30)
print('   섭씨   화씨')
print('-'*30)

c = -20
while c <= 40:
    F = c*9.0/5.0+32.0
    print('%8d %8.1f' %(c, F))
    
    c += 1
    
print('-'*30)

------------------------------
   섭씨   화씨
------------------------------
     -20     -4.0
     -19     -2.2
     -18     -0.4
     -17      1.4
     -16      3.2
     -15      5.0
     -14      6.8
     -13      8.6
     -12     10.4
     -11     12.2
     -10     14.0
      -9     15.8
      -8     17.6
      -7     19.4
      -6     21.2
      -5     23.0
      -4     24.8
      -3     26.6
      -2     28.4
      -1     30.2
       0     32.0
       1     33.8
       2     35.6
       3     37.4
       4     39.2
       5     41.0
       6     42.8
       7     44.6
       8     46.4
       9     48.2
      10     50.0
      11     51.8
      12     53.6
      13     55.4
      14     57.2
      15     59.0
      16     60.8
      17     62.6
      18     64.4
      19     66.2
      20     68.0
      21     69.8
      22     71.6
      23     73.4
      24     75.2
      25     77.0
      26     78.8
      27     80.6
      28     82.4
      29     84.2
      30     86.0
      31     87.8
      32     89.6
      33     91.4
      34     93.2
      35     95.0
      36     96.8
      37     98.6
      38    100.4
      39    102.2
      40    104.0
------------------------------

In [110]:
s = input('영어문장을 입력하시오')

i = 0
count = 0

print('모음:', end="")

while i <= len(s)-1:
    if(s[i] == 'a' or s[i] == 'A' or s[i] == 'e' or s[i] == 'E'
      or s[i] == 'i' or s[i] == 'I' or s[i] == 'o' or s[i] == 'O'
      or s[i] == 'u' or s[i] == 'U'):
        count += 1
        print(s[i], end='')
    
    i += 1
print("\n모음의 개수: %d" % count)

영어문장을 입력하시오we are the champion
모음:eaeeaio
모음의 개수: 7

In [116]:
s = input('영어문장을 입력하시오: ')

i = 0
count = 0

print('모음:', end="")

while i <= len(s)-1:
    if(s[i] .upper == 'A' or 'E' or 'I' or 'O' or 'U'):
        count += 1
        print(s[i], end='')
    
    i += 1
print("\n모음의 개수: %d" % count)

영어문장을 입력하시오: We are the Champion
모음:We are the Champion
모음의 개수: 19

In [141]:
for j in range(11):
    if j % 2 ==0:
        for i in range(21):
            if i % 2 == 0:
                print('*', end='')
            else:
                print(' ', end='')
    else:
        print(' ')

* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *

In [143]:
i = 0
while i <= 21:
    if i % 2 == 0:
        print('*', end='')
    else:
        print(' ', end='')
    i += 1
print()

* * * * * * * * * * *

In [144]:
fruits = ['사과','오렌지','수박']
fruits

['사과', '오렌지', '수박']

In [146]:
fruits[2]

'수박'

In [148]:
fruits[:2]

['사과', '오렌지']

In [149]:
len(fruits)

3