In [1]:
import sqlite3

con = sqlite3.connect('testdb')
cur = con.cursor()

In [2]:
type(cur)

sqlite3.Cursor

In [3]:
cur

In [4]:
cur.execute('select * from usertable')

In [5]:
while(True):
    row = cur.fetchone()
    if row == None:
        break
        
    print(f'{row[0]}, {row[1]}, {row[2]}, {row[3]}')
    
con.close()

aaa, james goh, aaa@aaaa.com, 2000
bbb, abc goh, bbb@bbbb.com, 2000

In [15]:
import sqlite3

con = sqlite3.connect('testdb2')
cur = con.cursor()

In [16]:
cur.execute('CREATE TABLE usertable (id char(4), username char(15), email char(15), birthyear int)')

OperationalError: table usertable already exists

In [17]:
type(cur)

sqlite3.Cursor

In [18]:
cur

In [19]:
cur.execute("insert into usertable values('aaa', 'james goh', 'aaa@aaaa.com', 2000);")

In [20]:
cur.execute('select * from usertable')

In [21]:
while(True):
    row = cur.fetchone()
    if row == None:
        break
        
    print(f'{row[0]}, {row[1]}, {row[2]}, {row[3]}')
    
con.close()

aaa, james goh, aaa@aaaa.com, 2000