# 파이썬

In [1]:
                        #입력

kor = 90                #대입
eng = 100

test = 90 + 100         #연산
sum = kor + eng         #연산
avg = sum / 2

print('합계:', sum)     #출력
print('평균:', avg)

합계: 190
평균: 95.0

In [16]:
variable = 123456          #숫자
variable2 = '하나둘셋'     #문자

In [17]:
variable

123456

In [18]:
variable2

'하나둘셋'

In [19]:
variable = variable2   #가능
variable

'하나둘셋'

In [20]:
variable + variable2

'하나둘셋하나둘셋'

In [22]:
v = 100 + 1000
v

1100

In [23]:
age = 100
Age = -100

In [25]:
age = 100

In [26]:
Age = -100

In [24]:
age, Age     # ,(콤마)는 투플을 나타냄

(100, -100)

In [27]:
print(age, Age)

100 -100

In [28]:
age = 100, Age = 100

SyntaxError: cannot assign to literal (<ipython-input-28-0535e49a4293>, line 1)

In [31]:
age = 100; Age = 100

In [32]:
x = 20
x

20

In [33]:
Computer = 'Mac'
Computer

'Mac'

In [34]:
Age = 30
Age

30

In [35]:
my_score = 70
my_score

70

In [36]:
_name = '홍길동'
_name

'홍길동'

In [37]:
x, Computer, Age, my_score, _name

(20, 'Mac', 30, 70, '홍길동')

In [38]:
Computer = 20.4
Computer

20.4

In [39]:
eng score = 20

SyntaxError: invalid syntax (<ipython-input-39-718822a1fe17>, line 1)

In [40]:
7font = 'fff'

SyntaxError: invalid syntax (<ipython-input-40-c18e503a5052>, line 1)

In [43]:
my-age = 20
my-age

SyntaxError: cannot assign to operator (<ipython-input-43-2171987e1b79>, line 1)

In [44]:
percent% = 100
percent

SyntaxError: invalid syntax (<ipython-input-44-50b89eb150d6>, line 1)

In [45]:
animal# = 100
animal

NameError: name 'animal' is not defined

# 숫자

In [47]:
i = 10
j = 100
k = -10000

In [48]:
i, j, k

(10, 100, -10000)

In [49]:
f = -30000.4
f

-30000.4

In [50]:
f = 0.0
f

0.0

In [51]:
1 + 3j

(1+3j)

In [52]:
3e3

3000.0

In [53]:
2e-4

0.0002

In [54]:
type('AAA')

str

In [56]:
type(1+4j)

complex

In [57]:
type(1e3)

float

In [58]:
1e3, 3.33333, 6/5

(1000.0, 3.33333, 1.2)

In [59]:
type(6/5)

float

# 문자열

In [123]:
#문자열 리터럴

# str = "안녕"
# str = '안녕'
# str

In [62]:
type(str)

str

In [63]:
a = 30
b = '30'

In [64]:
type(a), type(b)

(int, str)

In [65]:
x = 'I am happy'
x

'I am happy'

In [66]:
x[0], x[1], x[2]

('I', ' ', 'a')

In [67]:
len(x)

10

In [68]:
x[len(x)-1]

'y'

In [69]:
x[-1]

'y'

In [71]:
#인덱스 범위
x[1:4]

' am'

In [72]:
f vrfffx[4:]

' happy'

In [73]:
x[-4:]  #'I am happy'

'appy'

In [74]:
x[-4:-2]

'ap'

In [77]:
x[:-2]

'I am hap'

# Bool

In [78]:
True

True

In [79]:
False

False

In [80]:
20 > 20

False

In [81]:
10 > 20

False

In [82]:
20 > 10

True

In [83]:
10 > 20 == True

False

In [85]:
type (True)

bool

# 연산자
산술 연산자: `+,-,*,/,%,//,**`

In [86]:
a = 10
b = 20

In [87]:
c = a + b * 10 - 5/5
c

209.0

In [88]:
7 // 2

3

In [89]:
7 ** 2

49

+=, -+, *=, /=, //=, %=

In [90]:
x = 10
x += 10
x

20

In [91]:
x -= 10
x

10

In [92]:
x *= 2
x

20

In [93]:
x /= 2
x

10.0

In [2]:
10 * 10

100

In [95]:
10 / 2

5.0

In [96]:
x //= 2
x

5.0

# 숫자 형식별 연산!

In [97]:
10 * 10

100

In [98]:
10 / 2

5.0

In [99]:
10.0  / 2

5.0

In [100]:
10.0 / 2.0

5.0

In [101]:
10.0 * 2

20.0

In [102]:
10 / 0

ZeroDivisionError: division by zero

In [103]:
0 / 10

0.0

In [104]:
10.0 - 2

8.0

In [105]:
10.0 + 2

12.0

# 문자열의 연산자: `*,+`

In [106]:
"호" * 100

'호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호'

In [107]:
"--"*100

'--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

In [108]:
"호"**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [117]:
a = '호'
b = '빵'
a + b        #결합concatenating

'호빵'

In [110]:
a + 1000

TypeError: can only concatenate str (not "int") to str

In [111]:
a * 10

'호호호호호호호호호호'

In [124]:
a + str(10)

TypeError: 'str' object is not callable

In [118]:
a = '100'
100 * int(100)

10000

In [122]:
name = "홍길동"
print("내 이름은 " + name + " 입니다")

내 이름은 홍길동 입니다

In [127]:
a = '나는 %s 입니다'%(name)
print(a)

나는 홍길동 입니다

In [128]:
print("내 이름은 %s 입니다." % name)

내 이름은 홍길동 입니다.

In [129]:
name = "홍길동"
addr = "서울"

print("내 이름은 %s 이고, 주소는 %s 입니다." % (name, addr))

내 이름은 홍길동 이고, 주소는 서울 입니다.

In [130]:
age = 1000
print("내 이름은 %s 이고, 주소는 %s 이고, 나이는 %d." % (name, addr, age))

내 이름은 홍길동 이고, 주소는 서울 이고, 나이는 1000.

### .format()

In [132]:
"내 이름은 {} 이고, 주소는 {}이고, 나이는 {}" .format(name, addr, age)

'내 이름은 홍길동 이고, 주소는 서울이고, 아니는 1000'

In [133]:
"내 이름은 {0} 이고, 주소는 {2}이고, 나이는 {1}" .format(name, age, addr)

'내 이름은 홍길동 이고, 주소는 서울이고, 나이는 1000'

In [138]:
year = 2020
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2020 Referendum'

In [139]:
fruit = 'apple'
cost = '$3'
f'{fruit} cost {cost}'

'apple cost $3'

## 문자열 객체

In [140]:
a = '몸'
type(a), type("몸")

(str, str)

In [141]:
"abd".upper()

'ABD'

In [142]:
"aBcDDDefg".swapcase()

'AbCdddEFG'

In [143]:
"aBcDDDefg".capitalize()

'Abcdddefg'

In [3]:
" asjfh asjfdhq".strip()

'asjfh asjfdhq'

In [147]:
len(" asjfh asjfdhq ")

15

In [148]:
len(" asjfh asjfdhq ".strip())

13

In [149]:
" asdhf asvhoawee\n\r".strip()

'asdhf asvhoawee'

In [150]:
" asdhf asvhoawee\n\r".lstrip()

'asdhf asvhoawee\n\r'

In [151]:
" asdhf asvhoawee\n\r".rstrip()

' asdhf asvhoawee'

In [154]:
" asdhf asvhoawee\n\r".replace('ee','kk')

' asdhf asvhoawkk\n\r'

In [156]:
" asdhf asvhoawee\n\r".find('ee')

14

In [157]:
smg = ['a','b','c']  #리스트
"#".join(smg)

'a#b#c'

In [158]:
'010-1111-9999'.split('-')

['010', '1111', '9999']

## 프린트

In [161]:
print("010",1111,"9999", sep="-")

010-1111-9999

In [163]:
print("2020","12","2", sep="/")

2020/12/2

In [165]:
print("2020{}12{}2".format("/","/"))

2020/12/2

In [169]:
print("안녕")
print("음...")
print("안녕하세요", end="\n\n\n")
print("해")

안녕
음...
안녕하세요


해

In [170]:
print("안녕")
print("음...")
print("안녕하세요\n\n\n")
print("해")

안녕
음...
안녕하세요



해

In [172]:
abc = ""

In [173]:
abc = None

In [174]:
print(type(abc))

<class 'NoneType'>

## 입력

In [179]:
name = input("이름을 입력해 주세요")
name

이름을 입력해 주세요123

'123'

In [180]:
print(type(name))

<class 'str'>

In [181]:
int(name) + 10

133

In [182]:
inch = float(input('인치(inch)를 입력하세요:'))
cm = inch * 2.54
print('센티미터:%.2f'%cm)

인치(inch)를 입력하세요:10
센티미터:25.40

In [183]:
name = input('학생 이름을 입력하세요:')
kor = int(input('국어점수를 입력하세요:'))
eng = int(input('영어점수를 입력하세요:'))
math = int(input('수학점수를 입력하세요:'))
sum = kor + eng + math
avg = sum / 3
print(이름: %s, 국어:%d, 영어:%d, 수학%d, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요:홍길동
국어점수를 입력하세요:92
영어점수를 입력하세요:87
수학점수를 입력하세요:100
이름: 홍길동, 국어:92, 영어:87, 수학100, 평균:93.0점

In [192]:
name = input('학생의 이름을 입력하시오:')
kor = int(input('국어점수를 입력하시오:'))
eng = int(input('영어점수를 입력하시오'))
math = int(input('수학점수를 입력하시오'))
avg = float((kor + eng + math)/3)
f'학생이름: {name}, 국어: {kor}, 영어: {eng}, 수학: {math}, 평균: {avg}'

학생의 이름을 입력하시오:홍길동
국어점수를 입력하시오:20
영어점수를 입력하시오40
수학점수를 입력하시오60

'학생이름: 홍길동, 국어: 20, 영어: 40, 수학: 60, 평균: 40.0'

## 주석

In [186]:
# 한 줄 주석

#여러줄 주석 용도로 dogstring 사용 가능


"""독 스트링은 문자열이다

하지만 주석 용도로 사용 가능하다
"""

'독 스트링은 문자열이다\n\n하지만 주석 용도로 사용 가능하다\n'

In [189]:
mystr = """
독 스트링은 문자열이다

하지만 주석 용도로 사용 가능
"""

print(mystr)

독 스트링은 문자열이다

하지만 주석 용도로 사용 가능

In [188]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [190]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."